<!-- Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand page-scroll" href="#page-top">부동산은 성적순일까요?</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#guide">안내</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#filter">조건선택</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#realmap">부동산지도</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#schoolmap">학교성적지도</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#bchart">월별비교</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#achart">평형별비교</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#about">만든이소개</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#contact">연락처</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

    <!-- Header -->
    <header id="guide">
        <div class="container">
            <div class="intro-text">
                <div class="intro-heading">본 서비스는 국토부 실거래가와 학교알리미를 <br/>기준으로 작성되었습니다.</div>
                <div class="intro-lead-in">자료는 2014년 기준입니다.최신 자료는 추후 제공예정입니다.</div>
                <a href="#filter" class="page-scroll btn btn-xl">먼저 부동산지도 보러가기</a>
            </div>
        </div>
    </header>

    <!-- Services Section -->
    <section id="filter">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">부동산조건선택</h2>
                    <h3 class="section-subheading text-muted">여기서는 아파트/다세대, 매매/전월세 및 지역을 선택합니다.<br/>(현재는 아파트, 매매, 서울 지역만 제공됩니다.)  </h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-3">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-building fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">아파트/연립다세대</h4>
                    <!-- <p class="text-muted"> -->
                    <ui-select ng-model="ftype.selectedItem">
                        <ui-select-match>
                            <span ng-bind="$select.selected.name"></span>
                        </ui-select-match>
                        <ui-select-choices repeat="item in (ftype.itemArray | filter: $select.search) track by item.id">
                            <span ng-bind="item.name"></span>
                        </ui-select-choices>
                    </ui-select>
                    <!-- </p> -->
                </div>
                <div class="col-md-3">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-key fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">매매/전월세</h4>
                    <!-- <p class="text-muted"> -->
                    <ui-select ng-model="fmetric.selectedItem">
                        <ui-select-match>
                            <span ng-bind="$select.selected.name"></span>
                        </ui-select-match>
                        <ui-select-choices repeat="item in (fmetric.itemArray | filter: $select.search) track by item.id" >
                            <span ng-bind="item.name"></span>
                        </ui-select-choices>
                    </ui-select>
                    <!-- </p> -->
                </div>
                <div class="col-md-3">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-globe fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">지역</h4>
                    <!-- <p class="text-muted"> -->
                    <ui-select ng-model="farea.selectedItem">
                        <ui-select-match>
                            <span ng-bind="$select.selected.name"></span>
                        </ui-select-match>
                        <ui-select-choices repeat="item in (farea.itemArray | filter: $select.search) track by item.id" > 
                            <span ng-bind="item.name"></span>
                        </ui-select-choices>
                    </ui-select>
                    <!-- </p> -->
                </div>
                <div class="col-md-3">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-map-marker fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">&nbsp;</h4>
                    <a href="#realmap" ng-click="drawStart()" class="page-scroll btn btn-xl">부동산지도 보기</a>
                </div>
            </div>
        </div>
    </section>

    <!-- Portfolio Grid Section -->
    <section id="realmap" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">지도</h2>
                    <h3 class="section-subheading text-muted">노란색에서 빨강색 육각형이 있는데, 빨강색이 많은 육각형이 거래량 또는 평균가격이 높은 지역입니다.
                    <p class="text-muted">보고싶은 지역 육각형을 클릭해보세요.</p>
                    </h3> 
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div id='map' class='map' style="width:100%;height:700px;position:relative;"></div>
                </div>
            </div>
        </div>
    </section>
    <!-- Portfolio Grid Section -->
    <section id="schoolmap" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">학교성적지도와 아파트/단지상세지도</h2>
                    <h3 class="section-subheading text-muted">녹색, 노란색, 귤색, 주황색, 빨강색 점들은 모두 중학교를 나타냅니다. 녹색에서 빨강색으로 갈수록 보통이상 학력이 높은 학교입니다. <br/>(현재는 중학교만 제공되지만 초등/고등학교는 추후 제공예정입니다.) <br/> 아파트를 클릭하면 거래량과 평균가격을 확인할 수 있고 추세나 최근 정보를 보고 싶으면 팝업창의 아파트 이름을 클릭하세요.
                    </h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div id="focusmap" style="width:100%;height:700px;position:relative;"></div>
                </div>
            </div>
        </div>
    </section>

        <!-- Portfolio Grid Section -->
    <section id="bchart" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">부동산 월별비교</h2>
                    <h3 class="section-subheading text-muted">선택하신 아파트의 거래량/평균 평당 가격을 월별로 볼 수 있습니다. 파란색은 선택된 아파트, 주황색은 선택된 아파트의 시/도 평균, 녹색은 선택된 아파트의 군/구 평균 입니다. </h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <nvd3 options="options" data="data" api="api"></nvd3>
                </div>
            </div>
        </div>
    </section>
    
    <!-- Portfolio Grid Section -->
    <section id="achart" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">부동산 평형별비교</h2>
                    <h3 class="section-subheading text-muted">선택한 아파트의 평형별 비교를 월별로 볼 수 있습니다. </h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <nvd3 options="options2" data="adata" api="aapi"></nvd3>
                </div>
            </div>
        </div>
    </section>

    <!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">만든이 소개</h2>
                    <h3 class="section-subheading text-muted">자기 자신이 해낸 것을 즐기는, 그리고 자기 자신이 하고 있는 것을 즐기는 사람은 행복한 사람이다. - 괴테</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="https://avatars0.githubusercontent.com/u/3013882?v=3&s=460" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2015</h4>
                                    <h4 class="subheading">부동산은 성적순일까? 오픈</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">잉여력을 활용하여 공공 API 중 잼난 것을 Meshup 해보는 시각화 작업 시작하였습니다. 반응이 좋으면 계속 해볼 생각입니다. </p>
                                </div>
                            </div>
                        </li>
                        
                    </ul>
                </div>
            </div>
        </div>
    </section>

    <!-- Contact Section -->
    <section id="contact">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Contact Us</h2>
                    <h3 class="section-subheading text-muted">기회는 새와 같은 것날아가기 전에 꼭 잡아라. - 쉴러</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h3 class="section-heading">궁금하신 점이 있으면 <a href="mailto:ethan80.song@gmail.com" target="_top">ethan80.song@gmail.com</a>으로 메일주세요.</h3>
                </div>
            </div>
        </div>
    </section>

    <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <span class="copyright">Copyright &copy; PizzaStudio 2015</span>
                </div>
                <div class="col-md-4">
                    <ul class="list-inline social-buttons">
                        <!-- <li><a href="#"><i class="fa fa-twitter"></i></a>
                        </li>
                        <li><a href="#"><i class="fa fa-facebook"></i></a>
                        </li>
                        <li><a href="#"><i class="fa fa-linkedin"></i></a>
                        </li> -->
                    </ul>
                </div>
                <div class="col-md-4">
                    <ul class="list-inline quicklinks">
                        <!-- <li><a href="#">Privacy Policy</a>
                        </li>
                        <li><a href="#">Terms of Use</a>
                        </li> -->
                    </ul>
                </div>
            </div>
        </div>
    </footer>

<script>
/*!
 * Start Bootstrap - Agency Bootstrap Theme (http://startbootstrap.com)
 * Code licensed under the Apache License v2.0.
 * For details, see http://www.apache.org/licenses/LICENSE-2.0.
 */

// jQuery for page scrolling feature - requires jQuery Easing plugin
$(function() {
    $('a.page-scroll').bind('click', function(event) {
        var $anchor = $(this);
        $('html, body').stop().animate({
            scrollTop: $($anchor.attr('href')).offset().top
        }, 1500, 'easeInOutExpo');
        event.preventDefault();
    });
});

// Highlight the top nav as scrolling occurs
$('body').scrollspy({
    target: '.navbar-fixed-top'
})

// Closes the Responsive Menu on Menu Item Click
$('.navbar-collapse ul li a').click(function() {
    $('.navbar-toggle:visible').click();
});

var cbpAnimatedHeader = (function() {

    var docElem = document.documentElement,
        header = document.querySelector( '.navbar-default' ),
        didScroll = false,
        changeHeaderOn = 300;

    function init() {
        window.addEventListener( 'scroll', function( event ) {
            if( !didScroll ) {
                didScroll = true;
                setTimeout( scrollPage, 250 );
            }
        }, false );
    }

    function scrollPage() {
        var sy = scrollY();
        if ( sy >= changeHeaderOn ) {
            classie.add( header, 'navbar-shrink' );
        }
        else {
            classie.remove( header, 'navbar-shrink' );
        }
        didScroll = false;
    }

    function scrollY() {
        return window.pageYOffset || docElem.scrollTop;
    }

    init();

})();

</script>