<!-- Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand page-scroll" href="#page-top">부동산은 성적순일까요?</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#guide">안내</a>
                    </li>
                    <li> 
                        <a class="page-scroll" href="#filter">보고싶은지역</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#realmap">부동산가격지도</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#schoolmap">학교순위지도</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#gasungbimap">가성비지도</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#bchart">월별비교</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#achart">평형별비교</a>
                    </li>                    
                    <li>
                        <a class="page-scroll" href="#contact">연락처</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

    <!-- Header -->
    <header id="guide">
        <div class="container">
            <div class="intro-text">
                <div class="intro-heading">부동산 교육 지도 사이트는 </div>
                <div class="intro-lead-in">국토부 실거래가(2014,2015)와 학교알리미 학업성취도평가(2014)</br>기준으로 작성되었습니다.</div>
                <a href="#filter" class="page-scroll btn btn-xl">먼저 부동산지도 보러가기</a>
            </div>
        </div>
    </header>

    <!-- Services Section -->
    <section id="filter">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">보고싶은지역</h2>
                    <h3 class="section-subheading text-muted"> 보고싶은 지역을 선택하세요. </h3>
                </div>
            </div>
            <div class="row text-center">
                
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-key fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">매매/전월세</h4>
                    <!-- <p class="text-muted"> -->
                    <ui-select ng-model="ftype.selectedItem">
                        <ui-select-match>
                            <span ng-bind="$select.selected.name"></span>
                        </ui-select-match>
                        <ui-select-choices repeat="item in (ftype.itemArray | filter: $select.search) track by item.id" >
                            <span ng-bind="item.name"></span>
                        </ui-select-choices>
                    </ui-select>
                    <!-- </p> -->
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-globe fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">지역</h4>
                    <!-- <p class="text-muted"> -->
                    <ui-select ng-model="farea.selectedItem">
                        <ui-select-match>
                            <span ng-bind="$select.selected.name"></span>
                        </ui-select-match>
                        <ui-select-choices repeat="item in (farea.itemArray | filter: $select.search) track by item.id" > 
                            <span ng-bind="item.name"></span>
                        </ui-select-choices>
                    </ui-select>
                    <!-- </p> -->
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-map-marker fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">&nbsp;</h4>
                    <a href="#realmap" ng-click="drawStart()" class="page-scroll btn btn-xl">지도 보기</a>
                </div>
            </div>
        </div>
    </section>

    <!-- Portfolio Grid Section -->
    <section id="realmap" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">부동산 가격지도</h2>
                    <h3 class="section-subheading text-muted">노란색에서 빨강색 육각형이 있는데, 빨강색이 많은 육각형이 평당가격이 높은 지역입니다.
                    <p class="text-muted">보고싶은 지역 육각형을 클릭하시면 아파트 가격과 학교 성적 상세지도를 보실 수 있습니다.</p>
                    </h3> 
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div id='_map' style="width:100%;height:600px;position:relative;"></div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 text-center">
                    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
                    <!-- ethan8080_main1 -->
                    <ins class="adsbygoogle"
                         style="display:inline-block;width:728px;height:90px"
                         data-ad-client="ca-pub-8638613247413657"
                         data-ad-slot="1216998120"></ins>
                    <script>
                    (adsbygoogle = window.adsbygoogle || []).push({});
                    </script>
                </div>
            </div>
        </div>
    </section>
    <!-- Portfolio Grid Section -->
    <section id="schoolmap">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">학교 성적지도</h2>
                    <h3 class="section-subheading text-muted">노란색에서 빨강색 육각형이 있는데, 빨강색이 많은 육각형이 공부 잘하는 학교가 많은 지역 입니다. </h3>
                    <p class="text-muted">보고싶은 지역 육각형을 클릭하시면 아파트 가격과 학교순위 상세지도를 보실 수 있습니다.</p>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div id="_schoolmap" style="width:100%;height:600px;position:relative;"></div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 text-center">
                    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
                    <!-- ethan8080_main2 -->
                    <ins class="adsbygoogle"
                         style="display:inline-block;width:728px;height:90px"
                         data-ad-client="ca-pub-8638613247413657"
                         data-ad-slot="2693731327"></ins>
                    <script>
                    (adsbygoogle = window.adsbygoogle || []).push({});
                    </script>
                </div>
            </div>

        </div>

    </section>
    <!-- Portfolio Grid Section -->
    <section id="gasungbimap" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">가성비 지도</h2>
                    <h3 class="section-subheading text-muted">노란색에서 빨강색 육각형이 있는데, 빨강색이 많은 육각형일수록 공부는 잘하지만 집값이 싼 지역입니다.</h3>
                    <p class="text-muted">보고싶은 지역 육각형을 클릭하시면 아파트 가격과 학교순위 상세지도를 보실 수 있습니다.</p>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div id="_gasungbimap" style="width:100%;height:600px;position:relative;"></div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 text-center">
                    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
                    <!-- ethan8080_main3 -->
                    <ins class="adsbygoogle"
                         style="display:inline-block;width:728px;height:90px"
                         data-ad-client="ca-pub-8638613247413657"
                         data-ad-slot="4170464523"></ins>
                    <script>
                    (adsbygoogle = window.adsbygoogle || []).push({});
                    </script>
                </div>
            </div>

        </div>
    </section>

    <!-- Portfolio Grid Section -->
    <section id="focusmap">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">학교순위 및 아파트가격 상세지도</h2>
                    <h3 class="section-subheading text-muted">학교순위범례 : <span style="color:#d7191c">1등~100등</span>, <span style="color:#ff7f00">101등~300등</span>, <span style="color:#fdae61">301등~1000등</span>, <span style="color:#ffffbf">1000등~2000등</span>, <span style="color:#a6d96a">2000등~3000등</span></h3>
                    <p class="text-muted">아파트를 클릭하시면 평당 가격을 볼 수 있고, 학교를 클릭하시면 지역 내 순위를 보실 수 있습니다.</p>
                    <p class="text-muted">아파트 팝업창의 이름을 클릭하면 가격 추이를 그래프로 보실 수 있습니다.</p>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div id="_focusmap" class='map' style="width:100%;height:600px;position:relative;"></div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 text-center">
                    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
                    <!-- ethan8080_main4 -->
                    <ins class="adsbygoogle"
                         style="display:inline-block;width:728px;height:90px"
                         data-ad-client="ca-pub-8638613247413657"
                         data-ad-slot="5647197728"></ins>
                    <script>
                    (adsbygoogle = window.adsbygoogle || []).push({});
                    </script>
                </div>
            </div>
            
        </div>
    </section>
    <!-- Portfolio Grid Section -->
    <section id="bchart" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">부동산 월별비교</h2>
                    <h3 class="section-subheading text-muted">선택하신 아파트의 거래량/평균 평당 가격을 월별로 볼 수 있습니다. 파란색은 선택된 아파트, 주황색은 선택된 아파트의 시/도 평균, 녹색은 선택된 아파트의 군/구 평균 입니다. </h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <nvd3 options="options" data="data" api="api"></nvd3>
                </div>
            </div>
        </div>
    </section>
    
    <!-- Portfolio Grid Section -->
    <section id="achart">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">부동산 평형별비교</h2>
                    <h3 class="section-subheading text-muted">선택한 아파트의 평형별 비교를 월별로 볼 수 있습니다. </h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <nvd3 options="options2" data="adata" api="aapi"></nvd3>
                </div>
            </div>
        </div>
    </section>
    
    <!-- Contact Section -->
    <section id="contact">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Contact Us</h2>
                    <h3 class="section-subheading text-muted">기회는 새와 같은 것날아가기 전에 꼭 잡아라. - 쉴러</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h3 class="section-heading">본 사이트 자료를 인용하실 경우 허가를 얻으신 후에 사용해주시길 부탁드립니다. </h3>
                </div>
                <div class="col-lg-12 text-center">
                    <h3 class="section-heading">궁금하신 점이 있으면 <a href="mailto:ethan80.song@gmail.com" target="_top">ethan80.song@gmail.com</a>으로 메일주세요.</h3>
                </div>
            </div>
        </div>
    </section>

    <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <span class="copyright">Copyright &copy; PizzaStudio 2015</span>
                </div>
                <div class="col-md-4">
                    <ul class="list-inline social-buttons">
                        <!-- <li><a href="#"><i class="fa fa-twitter"></i></a>
                        </li>
                        <li><a href="#"><i class="fa fa-facebook"></i></a>
                        </li>
                        <li><a href="#"><i class="fa fa-linkedin"></i></a>
                        </li> -->
                    </ul>
                </div>
                <div class="col-md-4">
                    <ul class="list-inline quicklinks">
                        <!-- <li><a href="#">Privacy Policy</a>
                        </li>
                        <li><a href="#">Terms of Use</a>
                        </li> -->
                    </ul>
                </div>
            </div>
        </div>
    </footer>

<script>
/*!
 * Start Bootstrap - Agency Bootstrap Theme (http://startbootstrap.com)
 * Code licensed under the Apache License v2.0.
 * For details, see http://www.apache.org/licenses/LICENSE-2.0.
 */

// jQuery for page scrolling feature - requires jQuery Easing plugin
$(function() {
    $('a.page-scroll').bind('click', function(event) {
        var $anchor = $(this);
        $('html, body').stop().animate({
            scrollTop: $($anchor.attr('href')).offset().top
        }, 1500, 'easeInOutExpo');
        event.preventDefault();
    });
});

// Highlight the top nav as scrolling occurs
$('body').scrollspy({
    target: '.navbar-fixed-top'
})

// Closes the Responsive Menu on Menu Item Click
$('.navbar-collapse ul li a').click(function() {
    $('.navbar-toggle:visible').click();
});

var cbpAnimatedHeader = (function() {

    var docElem = document.documentElement,
        header = document.querySelector( '.navbar-default' ),
        didScroll = false,
        changeHeaderOn = 300;

    function init() {
        window.addEventListener( 'scroll', function( event ) {
            if( !didScroll ) {
                didScroll = true;
                setTimeout( scrollPage, 250 );
            }
        }, false );
    }

    function scrollPage() {
        var sy = scrollY();
        if ( sy >= changeHeaderOn ) {
            classie.add( header, 'navbar-shrink' );
        }
        else {
            classie.remove( header, 'navbar-shrink' );
        }
        didScroll = false;
    }

    function scrollY() {
        return window.pageYOffset || docElem.scrollTop;
    }

    init();

})();

</script>